allow postinstall kernel:process setsched;
allow postinstall postinstall_file:dir create_dir_perms;
allow postinstall postinstall_file:file create_file_perms;
allow postinstall postinstall_file:filesystem remount;
allow postinstall rootfs:dir read;
allow postinstall self:capability { dac_override sys_rawio };
allow postinstall storage_file:dir getattr;
allow postinstall system_block_device:blk_file { ioctl open };
allow postinstall system_file:dir r_dir_perms;
